*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: chartreuse;
}
button{
    width: 70px;
    height: 30px;
    background-color: chocolate;
    border: 0px solid chocolate;
    border-radius: 5px;
}
button:hover{
    width: 75px;
    height: 35px;
}